<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <ul class="footer-links nav navbar-nav">
          <li><a href="/install/index.html">Getting Started</a></li>
          <li><a href="http://docs.contiv.io/">Docs</a></li>
          <li><a href="https://github.com/contiv">GitHub</a></li>
        </ul>
      </div>
      <div class="footer-contiv col-sm-6 col-xs-12">
        <div class="pull-right">
          <a class="contiv-project" href="https://contiv.io">
              Contiv
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>
