<div id="header" class="<%= current_page.data.page_title == "home" ? "" : "navbar-static-top" %>">
  <div class="container">
    <div class="row">
      <!-- <div class="col-xs-12"> -->
        <div class="navbar-header">
          <div class="navbar-brand">
              <a class="logo" href="/">Contiv</a>
            </a>
          </div>
          <!-- <button class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
        </div>
        <div class="buttons hidden-xs">
          <nav role="navigation">
            <ul class="main-links nav navbar-nav navbar-left">
              <li class="first li-under"><a href="/install/index.html">Documentation</a></li>
              <li class="li-under"><a href="/articles/index.html">Articles</a></li>
              <li class="li-under"><a href="https://github.com/contiv" target="_blank">
                        GitHub
                        <i class="fa fa-github fa-lg"></i>
                        </a></li>
                    <li class="li-under"><a href="https://contiv.slack.com" target="_blank">
                        Slack
                        <i class="fa fa-slack fa-lg"></i>
                        </a></li>
                    <li><a href="https://twitter.com/projectcontiv" target="_blank">
                        Twitter
                        <i class="fa fa-twitter fa-lg"></i>
                        </a></li>
            </ul>
          </nav>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
