//
// Home
// --------------------------------------------------

#hero{
  position: relative;
  text-align: center;
  background: image-url('contiv-background.png') 0 0 no-repeat;
  @include img-retina("contiv-background.png", "contiv-background.png", 624px, 358px);
  background-size: cover !important;
  overflow: hidden;

  #hero-text{
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;

    #hero-text-content{
      position: relative;
      z-index: 2;
      padding-bottom: 40px;
    }

    h1{
      margin-top: 0;
      color: $white;
      font-size: $font-size-xl;
      font-family: $font-family-blanc;
      font-weight: bold;
    }

    h4{
      color: $white;
      font-family: $font-family-blanc;
      font-weight: bold;
    }

    #hero-btns{
      margin-top: 26px;
      a{

      }
    }
  }

  #tag-line{
    margin: 15px 0 20px 0;
    font-size: 24px;
    font-weight: 300;
  }

  p{
    margin-top: 60px;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 2em;

    .strong{
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.banner{
  margin-top: 120px;

  .col{
    p{
      line-height: 24px;
    }
  }

  &.gray-banner{
    .col{
      border: 1px solid $blue-faint;
    }

    p{
      color: $blue-light;
    }
  }

  &.green-banner{
    .col{
      border: 1px solid $blue-faint;
    }

    p{
      color: $medium-black;
    }
  }

  &#cta-banner{
    margin-top: 0;
    margin-bottom: 80px;

    .col{
      padding: 60px 20px;
    }
  }

  .col{
    padding: 20px;
    text-align: center;
    border-radius: 3px;
  }

  p{
    margin-bottom: 0px;
    margin-right: 30px;
    font-size: $font-size-reg;
    line-height: $font-size-reg;
    font-family: $font-family-blanc-reg;
  }

  p, a{
    display: inline-block;
  }
}

#content{
  overflow: hidden;
  margin-top: 40px;

  h2{
    // margin-bottom: 120px;
    text-align: center;
    font-size: $font-size-m;
    font-family: $font-family-blanc;
    color: $green;
    text-transform: uppercase;
  }

  .feature-section-title{
      border-top: 2px solid $gray-light;
      padding-top: 30px;
  }

  .feature{
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 60px;
    // border-bottom: 1px solid $blue-faint;

    &:last-child{
      border-bottom: none;
    }

    &#networking-concepts{
      .feature-graphic{
        margin-top: -300px;
        margin-left: 600px;
        width: 600px;
        height: 300px;
        background: image-url('network-concepts.jpg') 0 0 no-repeat;
        @include img-retina("network-concepts.jpg", "network-concepts.jpg", 600px, 300px);
      }
    }

    &#networking-map{
      .feature-graphic{
        margin-top: -300px;
        margin-left: 600px;
        width: 600px;
        height: 300px;
        background: image-url('network-map.jpg') 0 0 no-repeat;
        @include img-retina("network-map.jpg", "network-map.jpg", 600px, 300px);
      }
    }

    &#modules{
      .partner-logos{
          a{
              margin: 0% 10% 0% 10%;
              width: 80%;

              &:hover{
                background-color: $faint-gray;
              }
          }
          .module-logo{
            display: inline-block;
            margin: auto;
            width: 100%;
            text-align: center;
            height: 180px;
            color: $medium-green;
          }
          h2 {
              margin-bottom: 10px;
              color: $medium-green;
          }
      }
    }

    &#networking-sched{
      .partner-logos{
          // text-align: center;
        .cloud-wrap{
          .partner-logo{
            float: left;
            width: 60%;
            height: 200px;
            

            &.swarm-logo{
              background: image-url('docker-swarm-hero2.png') center center no-repeat;
              @include img-retina("docker-swarm-hero2.png", "docker-swarm-hero2.png", 180px, 180px);
            }
            &.kubernetes-logo{
              background: image-url('kubernetes.png') center center no-repeat;
              @include img-retina("kubernetes.png", "kubernetes.png", 150px, 150px);
            }
            &.mesos-logo{
              background: image-url('Apache-Mesos-logo.jpg') center center no-repeat;
              @include img-retina("Apache-Mesos-logo.jpg", "Apache-Mesos-logo.jpg", 160px, 160px);
            }
          }
        }
      }
    }

    &#storage{
      .feature-graphic{
        margin-top: -250px;
        margin-left: 600px;
        width: 600px;
        height: 300px;
        background: image-url('dist-storage.jpg') 0 0 no-repeat;
        @include img-retina("dist-storage.jpg", "dist-storage.jpg", 400px, 300px);
      }
    }

    &#clustering{
      .feature-graphic{
        margin-top: -150px;
        margin-left: 650px;
        width: 600px;
        height: 300px;
        background: image-url('cluster-graphics.png') 0 0 no-repeat;
        @include img-retina("cluster-graphics.png", "cluster-graphics.png", 300px, 150px);
      }
    }

    .feature-graphic{
      margin: 0 auto;
    }

    .feature-header{

      &.right{
        h3, p{
          text-align: right;
          display: block;
          float: right;
        }
      }

      h3{
        margin: 30px 0 20px 0;
        color: $medium-black;
        letter-spacing: 1px;
        font-size: $font-size-l;
        font-family: $font-family-blanc;
        line-height: 1.25em;
        max-width: 640px;
      }

      p{
        margin-bottom: 30px;
        color: $text-color;
        font-size: $font-size-reg+2;
        font-family: $font-family-blanc-reg;
        line-height: 1.75em;
        // max-width: 480px;
      }
    }

    .feature-footer{
      margin-top: -50px;

      p{
        display: inline-block;
        color: $medium-black;
        font-size: $font-size-reg;
        font-family: $font-family-blanc;
        line-height: 1.75em;
        max-width: 320px;
        padding-left: 20px;
        border-left: 1px solid $blue-faint;
      }

      a{
        margin-bottom: 15px;
        margin-left: 15px;

        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {

}


@media (max-width: 1200px) {

}

@media (min-width: 992px) and (max-width:1200px) {
  #cta a {
    margin-top: 15px;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width:992px) {
  #cta a {
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  #content{
    .feature{
      &#deploy{
        .feature-graphic{
          margin-top: -60px;
          width: 768px;
          height: 486px;
          background: image-url('feature-deploy.png') 0 0 no-repeat;
          @include img-retina("feature-deploy.png", "feature-deploy@2x.png", 768px, 486px);
        }

        .feature-footer{
          margin-top: 0;
        }
      }

      &#maintain{
        .feature-graphic{
          margin-top: -50px;
          width: 768px;
          height: 475px;
          background: image-url('feature-manage.png') 0 0 no-repeat;
          @include img-retina("feature-manage.png", "feature-manage@2x.png", 768px, 475px);
        }
      }

      &#density{
        .feature-graphic{
          width: 768px;
          height: 302px;
          background: image-url('feature-density.png') 0 0 no-repeat;
          @include img-retina("feature-density.png", "feature-density@2x.png", 768px, 302px);
        }
      }

      &#partners{
        .partner-logos{
          .docker-wrap{
            //border: none;
            .partner-logo{
              @include scale(.8);
              margin-left: -18px;
            }
          }
          .cloud-wrap{
            .partner-logo{
              @include scale(.8);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #hero{
    #hero-graphic{
      @include scale(.8);
    }
  }

  #content{
    .feature{
      &#deploy{
        .feature-graphic{
          margin-top: 0px;
          width: 480px;
          height: 304px;
          background: image-url('feature-deploy.png') 0 0 no-repeat;
          @include img-retina("feature-deploy.png", "feature-deploy@2x.png", 480px, 304px);
        }

        .feature-footer{
          margin-top: $small-pad;

          .docker-outline-logo{
            width: 94px;
            height: 63px;
            background: image-url('partner-docker.png') 0 0 no-repeat;
            @include img-retina("partner-docker.png", "partner-docker@2x.png", 94px, 63px);
          }
        }
      }

      &#maintain{
        .feature-graphic{
          margin-top: $small-pad;
          width: 480px;
          height: 297px;
          background: image-url('feature-manage.png') 0 0 no-repeat;
          @include img-retina("feature-manage.png", "feature-manage@2x.png", 480px, 297px);
        }
      }

      &#healing{
        .feature-graphic{
          margin-top: $small-pad;
          width: 480px;
          height: 147px;
          background: image-url('feature-healing.png') 0 0 no-repeat;
          @include img-retina("feature-healing.png", "feature-healing@2x.png", 480px, 147px);
        }
      }

      &#density{
        .feature-graphic{
          margin-top: $small-pad;
          width: 480px;
          height: 189px;
          background: image-url('feature-density.png') 0 0 no-repeat;
          @include img-retina("feature-density.png", "feature-density@2x.png", 480px, 189px);
        }
      }

      &#partners{
        .partner-logo{
          display: block !important;
          float: none !important;
          width: 100% !important;
          margin: 0 auto;
          -webkit-transform: scale(1) !important;
          -ms-transform: scale(1) !important;
          transform: scale(1) !important;
          margin-left: 0 !important;
          height: 130px !important;
        }

        p{
          padding: 0 20px;
        }
      }
    }

    .feature-header{
      h3,p{
        text-align: center !important;
        max-width: none !important;
        float: none !important;
      }
    }
  }

  .banner{
    padding: 18px;
    margin: 0 20px;

    .col{
      text-align: center;

      p{
        display: block;
        margin-right: 0;
        margin-bottom: $small-pad;
      }
    }
  }

  #cta{
    .intro{
      text-align: center;
      p{
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
}


@media (max-width: 480px) {
  #hero{
    background: image-url('contiv-background.png');

    &:before{
      display: none;
    }

    #hero-graphic{
      height: 10px;
      margin-top: 0;
      @include scale(.54);
    }

    #hero-text{
      position: relative;
      padding-top: 50px;
      margin-right: 50px;
    }
  }

  #content{
    .feature{
      &#deploy{
        .feature-graphic{
          width: 280px;
          height: 177px;
          background: image-url('feature-deploy.png') 0 0 no-repeat;
          @include img-retina("feature-deploy.png", "feature-deploy@2x.png", 280px, 177px);
        }
        .feature-footer{
          .docker-outline-logo{
            display: block;
          }
        }
      }

      &#maintain{
        .feature-graphic{
          margin-top: $small-pad;
          width: 280px;
          height: 173px;
          background: image-url('feature-manage.png') 0 0 no-repeat;
          @include img-retina("feature-manage.png", "feature-manage@2x.png", 280px, 173px);
        }
      }

      &#healing{
        .feature-graphic{
          width: 280px;
          height: 86px;
          background: image-url('feature-healing.png') 0 0 no-repeat;
          @include img-retina("feature-healing.png", "feature-healing@2x.png", 280px, 86px);
        }
      }

      &#density{
        .feature-graphic{
          width: 280px;
          height: 110px;
          background: image-url('feature-density.png') 0 0 no-repeat;
          @include img-retina("feature-density.png", "feature-density@2x.png", 280px, 110px);
        }
      }
    }
  }
}
