//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

$header-height:         50px;
$btn-border-radius:     4px;
$el-border-radius:      6px;
// colors
// -------------------------

$white:                 #fff;
$black:                 #000;
$gray:                  #929199;
$light-gray:            #C2C1C7;
$faint-gray:            #E3E3EA;
$green:                 #205081;
$green-dark:            #449b82;
$green-light:           #9bdb9c;
$green-faint:           #E3F5E3;
$blue-dark:             #4e5859;
$blue-light:            #5c5d61;
$blue:                 #5c5d61;
$blue-faint:            #E0E8E8;
$light-black:           #242424;
$orange:                #e78c5b;
$gray-dark:             #000; // H1, H2, H3
$gray:                  #777;
$gray-light:            #939393;
$gray-lighter:          #979797;
$red:                   #dd4e58;
$red-dark:              #036e97;
$purple:                #822ff7;
$light-purple:          #f7f3f9;
$btn-color:             #4592C5;
$medium-black:          #5c5d61; // Header links
$medium-gray:           rgba(0,0,0,.6);
$medium-green:          #5c5d61;  // Everything else
$medium-blue:           #036e97;
$hdr-light-gray:        rgba(0,0,0,.03);

// Scaffolding
// -------------------------
$body-bg:               #fff;
$text-color:            $medium-black;

// Links
// -------------------------
$link-color:            $red-dark;
$link-hover-color:      darken($link-color, 50%);

// Typography
// -------------------------
$font-family-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-blanc:     'Blanc-Light', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-blanc-reg: 'Blanc-Regular', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-xl:        300;
$font-weight-reg:       400;
$font-weight-sb:        600;
$font-weight-xb:        700;
$font-size-xl:          40px;
$font-size-l:           36px;
$font-size-m:           28px;
$font-size-reg:         16px;

$text-shadow:           1px 1px 1px #000;
$shadow:                $text-shadow;


//margin + padding
$xsmall-pad:            20px;
$small-pad:             30px;
$med-pad:               70px;
$large-pad:             120px;
$xl-pad:                150px;

$light-outline:         #f7f7f7;

//
$easeInOutBack:         cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeOutBack:           cubic-bezier(0.175, 0.885, 0.32, 1.275);
