

<div id="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="hero-text">
					<div id="hero-text-content">
						<h1>Policy Based Networking and Storage for Containers</h1>
						<h4>A new kind of infrastructure for microservices</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="content">
	<div id="modules" class="feature">
		<div class="partner-logos">
			<div class="row">
				<div class="col-md-4">
					<a class="h-btn green lrg" href="#networking-hdr">
						<div class="module-logo">
							<h2>Networking</h2>
							<div class="fa fa-cloud fa-4x"></div>
						</div>

					</a>
				</div>
				<div class="col-md-4">
					<a class="h-btn green lrg" href="#storage-hdr">
						<div class="module-logo">
							<h2>Storage</h2>
							<div class="fa fa-database fa-4x"></div>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="h-btn green lrg" href="#clustering-hdr">
						<div class="module-logo">
							<h2>Cluster</h2>
							<div class="fa fa-cubes fa-4x"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class=" col-md-12">
				<h2 id="networking-hdr" class="feature-section-title">Networking</h2>

				<div id="networking-concepts" class="feature">
					<div class="feature-header">
						<h3>Networking for Microservices</h3>
                        <p>
                        Contiv provides a higher level of networking abstraction for microservices.
						Contiv secures your application using a rich policy framework.
						It provides built-in service discovery and service routing for scale out services.
                        </p>
					</div>
					<div class="feature-graphic"></div>
				</div> <!-- .feature -->
				<div id="networking-sched" class="feature">
					<div class="feature-header">
						<h3>Scheduler Integration</h3>
						<p>
						Contiv works with major container schedulers like Docker Swarm, Kubernetes, and Mesos.
						</p>
					</div>
					<div class="partner-logos">
						<div class="row">
							<div class="col-md-4 cloud-wrap clearfix">
								<h3>Docker Swarm</h3>
								<span class="partner-logo swarm-logo"></span>
							</div>
							<div class="col-md-4 cloud-wrap clearfix">
								<h3>Kubernetes</h3>
								<span class="partner-logo kubernetes-logo"></span>
							</div>
							<div class="col-md-4 cloud-wrap clearfix">
								<h3>Mesos</h3>
								<span class="partner-logo mesos-logo"></span>
							</div>
						</div>
					</div>
				</div> <!-- .feature -->
				<div id="networking-map" class="feature">
					<div class="feature-header">
						<h3>Rich Networking Options</h3>
						<p>
						Contiv provides IP address per container and eliminates the need for host-based port NAT.
						It works with different kinds of networks like pure layer 3 networks, overlay networks, and layer 2 networks, and it provides the same virtual network view to containers regardless of the underlying technology.
						</p>
					</div>
					<div class="feature-graphic"></div>
				</div> <!-- .feature -->

				<h2 id="storage-hdr"class="feature-section-title">Storage</h2>
				<div id="storage" class="feature">
					<div class="feature-header">
						<h3 class="">Distributed Storage</h3>
                        <p>
                        Contiv Storage pools storage resources across a cluster of nodes and provides persistent volumes to stateful containers.
						With Contiv Storage, you can treat storage as just another schedulable resource in the cluster.
                        </p>
					</div>
					<div class="feature-graphic"></div>
				</div> <!-- .feature -->

				<h2 id="clustering-hdr" class="feature-section-title">Cluster</h2>

				<div id="clustering" class="feature">
					<div class="feature-header">
						<h3>Contiv Cluster</h3>
                        <p>
                        Contiv Cluster provisions and manages a large number of physical nodes.
                        </p>
					</div>
                    <div class="feature-graphic"></div>
				</div> <!-- .feature -->

			</div> <!-- .col -->
		</div> <!-- .row -->
	</div> <!-- /container -->
</div> <!-- #content -->
