<div class="jumbotron">
  <div class="container">
    <h1><img src="/assets/images/contivlogo.svg" height="100px" width="100px" alt="Contiv logo">Contiv</h1>
    <p class="subtitle"><b>The Most Powerful Open Source Container Networking Platform</b></p>
    <p>
      <a class="btn btn-default btn-lg" href="/documents/gettingStarted/index.html" role="button">Tutorials</a>
      <a class="btn btn-default btn-lg" href="https://github.com/contiv/install" role="button">Download</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row quote">
    <div class="col-md-12">
    <br>
    <br>
      <h4 class="quote-text" style="color:#0047ab">
     <i>"Contiv enables us to avoid container silo. We are running production applications and containers, virtual machines, and bare metal. All powered by Contiv and Cisco ACI providing us the unified networking across heterogeneous environments."<i>
      </h4>
      <br>
      <br>
    </div>
  </div>
  </div>

<div id="content">
	<div id="modules" class="feature">
		<div class="partner-logos">
			<!-- <div class="row"> -->
				<div class="col-md-4">
					<!--a class="h-btn green lrg" href="#platform-hdr"-->
						<div class="module-logo">
							<div class="fa fa-sitemap fa-4x"></div>
							<h2>Rich Policy Framework</h2>
												</div>
					<!--/a-->
				</div>
				<div class="col-md-4">
					<!--a class="h-btn green lrg" href="#policy-hdr"-->
						<div class="module-logo">
							<div class="fa fa-database fa-4x"></div>
							<h2>Multi-Platforms</h2>
						</div>
					<!--/a-->
				</div>
				<div class="col-md-4">
					<!--a class="h-btn green lrg" href="#infrastructure-hdr"-->
						<div class="module-logo">
							<div class="fa fa-server fa-4x"></div>
							<h2>Multi-Infrastructure</h2>
						</div>
					<!--/a-->
				</div>

			<!-- </div> -->
			<div class="col-md-4">
					<!--a class="h-btn green lrg" href="#enterprise-hdr"-->
						<div class="module-logo">
							<div class="fa fa-industry fa-4x"></div>
							<h2>Enterprise Grade</h2>
						</div>
					<!--/a-->
				</div>
				<div class="col-md-4">
					<!--a class="h-btn green lrg" href="#networking-hdr"-->
						<div class="module-logo">
							<div class="fa fa-signal fa-4x"></div>
							<h2>Networking Support</h2>
						</div>
					<!--/a-->
				</div>
				<div class="col-md-4">
					<!--a class="h-btn green lrg" href="#opensource-hdr"-->
						<div class="module-logo">
							<div class="fa fa-github fa-4x"></div>
							<h2>Open Source</h2>
						</div>
					<!--/a-->
				</div>
		</div>
		<hr>
	</div>
	

<!-- Table End -->


	<div class="container">
  <div class="row quote">
    <div class="col-md-12">
    <br>
    <br>
      <h4 class="quote-text" style="color:#0047ab">
     <i>"Contiv enables us to avoid container silo. We are running production applications and containers, virtual machines, and bare metal. All powered by Contiv and Cisco ACI providing us the unified networking across heterogeneous environments."<i>
      </h4>
      <br>
      <br>
      <p class="quote-source" style="text-align: center">
      <b>--John Mitchell, Chief Architect at SAP</b>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="background:#29AFD8">
    <h2 style="text-align: center"><strong><font color="white">Learn and Try Now</font><strong></h2>
   <p style="text-align: center"> <img src="/assets/images/contivlogo.svg" height="100px" width="100px" alt="Contiv logo"></p>
<p style="text-align: center"><strong><font color="white">Start by deploying a containerized application on Contiv</font></strong></p>
<p style="text-align: center"><strong><font color="white">with our guided walkthrough and step-by-step tutorials</font></strong></p>
<p style="text-align: center"><a class="btn btn-default btn-lg" href="/documents/tutorials/index.html" role="button">Get Started</a></p>
    </div>
 <div class="col-md-6" style="background:#A9A9A9">
    <h3 style="text-align: center"><strong><font color="white">Join our Webinars</font></strong></h3>
    <p></p>
    <p style="text-align: center"><strong><font color="white">Talk to experts in the Contiv Community about your issues.</font></strong></p>
    <form action="mailto:contiv-webinars@external.cisco.com?subject=webinar subscription" method="post" enctype="text/plain">
<strong><font color="white">Name:</font></strong><br>
<input type="text" name="name"><br>
<strong><font color="white">Company or Project:</font></strong><br>
<input type="text" name="company"><br>
<strong><font color="white">E-mail:</font></strong><br>
<input type="text" name="mail"><br>
<strong><font color="white">Phone:</font></strong><br>
<input type="text" name="phone"><br>
<strong><font color="white">Country:</font></strong><br>
<input type="text" name="country"><br>
<strong><font color="white">Comment:</font></strong><br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
<br>
  </div>
</div> <!-- #content -->
